<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<div class="btn-group mt-2" role="group">
  <%= link_to '', courses_path, class: 'fas fa-long-arrow-alt-left btn btn-dark' %>
  <%= link_to '', @course, class: 'far fa-eye btn bd-indigo-400' %>
</div>

