<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container">
    <span class="text-muted">&copy; TechUpskill.guru Copyright 2020 - <%= Date.today.year %>. All Rights reserved. <%= link_to 'Privacy Policy', privacy_policy_path %></span>
  </div>
</footer>